@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif !important;
}

body{
    background-color: #F9FAFC;
}

#search-button Button{
    background-color: #FD661F !important;
    height: 40px !important;
    text-transform: capitalize !important;
}

#social-media > li{
    color: #0B7077;
}

#social-media #instagram:hover{
    color: #b905c9 !important;
}

#social-media #facebook:hover{
    color: #4361ee !important;
}

#social-media #youtube:hover{
    color: #c1121f !important;
}

#social-media #Xicon:hover{
    color: #003566 !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::after{
    border-bottom: 2px solid #0B7077 !important;
}

.css-1ew92b2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:#0B7077 !important;
}