@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme{
    --breakpoint-xs: 20rem;
    --breakpoint-smL: 23.75rem;
}

*{
    font-family: "Outfit", sans-serif !important;
    scroll-behavior: smooth !important;
    scrollbar-width: none !important;
}

body{
    background-color: #F5F5F5;
}

#search-button Button{
    background-color: #FD661F !important;
    height: 40px !important;
    text-transform: capitalize !important;
}

/* -------------------- Home ----------------------- */

#home-header{
    width: 100%;
    height: 100%;
    background-image: url('/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
}

#giftCard{
    background-image: url('/giftCardBG.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 30px !important;
}

/* -----------------------login---------------------- */
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
    padding: 14px 13px !important;
}

/* ---------------- Footer -------------- */

#social-media > li{
    color: #0B7077;
}

#social-media #instagram:hover{
    color: #b905c9 !important;
}

#social-media #facebook:hover{
    color: #4361ee !important;
}

#social-media #youtube:hover{
    color: #c1121f !important;
}

#social-media #Xicon:hover{
    color: #003566 !important;
}

.css-5h82ro-MuiInputBase-root-MuiInput-root::after{
    border-bottom: 2px solid #0B7077 !important;
}

.css-1ew92b2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color:#0B7077 !important;
}